* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header {
  min-height: 10vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.chris{
  font-size: 30px;
  padding: 20px;
}
nav {
  display: flex;
  padding: 1% 10vw;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 120px;
  opacity: 0.9;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #333;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.nav-links ul li a:hover {
    color: #f5b654;
  }

.animation {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
    url("images/m1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slider 13s ease-in-out infinite;
}
@keyframes slider {
  0% {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
      url("images/m2.jpg");
  }
  25% {
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
      url("images/m3.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
      url("images/m4.jpg");
  }
  75% {
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
      url("images/m5.jpg");
  }
}
.text-box {
  width: 90%;
  color: #374048;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  margin: auto;
}
.text-box h1 {
  font-size: 49px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #c59d5f;
}
.text-box h2 {
  font-size: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: rgb(187, 187, 187);
}

.about {
  position: relative;
}
.row {
  width: 80%;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.left {
  width: 58%;
}
h3 {
  color: #c59d5f;
  font-size: 65px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
}
h4 {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 40px;
  color: #222222;
}
.left h4:after {
  content: "";
  background: #c59d5f;
  width: 70px;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left p {
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 26px;
  margin-bottom: 27px;
}
.right {
  position: absolute;
  right: 0;
  width: 33.125%;
  top: 0;
}
.right img {
  max-width: 100%;
  border-radius: 15px;
  height: auto;
}
.gallery {
  background-color: #222222;
  position: relative;
  padding-bottom: 120px;
  padding-top: 150px;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.gallery .container h4 {
  color: #fff;
  margin-bottom: 5px;
}
.m-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  font-family: sans-serif;
}
.tabs-container {
  width: 80vw;
  text-align: center;
}
input[type="radio"] {
  opacity: 0;
  position: absolute;
}
#input-1:checked ~ .pages #page-1 {
  display: flex;
}
#input-2:checked ~ .pages #page-2 {
  display: flex;
}
#input-3:checked ~ .pages #page-3 {
  display: flex;
}
#input-4:checked ~ .pages #page-4 {
  display: flex;
}
#input-5:checked ~ .pages #page-5 {
  display: flex;
}
#input-6:checked ~ .pages #page-6 {
  display: flex;
}
#input-7:checked ~ .pages #page-7 {
  display: flex;
}
#input-8:checked ~ .pages #page-8 {
  display: flex;
}
label {
  color: #fff;
  border-radius: 8px;
  display: inline-block;
  padding: 0.7rem 1.2rem;
  margin: 7px 5px;
  cursor: pointer;
  font-weight: 600;
}
input[type="radio"]:checked + label,
input[type="radio"]:hover + label {
  color: #c59d5f;
}
.page {
  display: none;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2vh;
}
.names {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 15px;
  justify-content: center;  
}
.page img {
  align-self: center;
}
.dname{
  flex-basis: 23%;
  border-radius: 15px;
  margin: 10px;
  line-height: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.dname img{
  width: 100%;
  display: block;
}
.overlay{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.overlay:hover{
  background: rgba(0, 0, 0, 0.596);
}
.overlay h6{
  width: 100%;
  font-weight: 500;
  color: goldenrod;
  font-size: 22px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover h6{
  top:40%;
  opacity: 1;
}
@media (max-width: 500px) {
  .tabs-container {
    width: 80vw;
  }
}

.menu{
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.m-item{
    width: 90%;
    margin-left: 50px;
}.m-item img{
    width: 100%;
    border-radius: 15px;
}

.chef {
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.c-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
.c-col{
    flex-basis: 23%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.c-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(245, 179, 72, 0.4);
}
.layer h5{
    width: 95%;
    font-weight: 500;
    color: #222222;
    font-size: 22px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h5{
    bottom: 49%;
    opacity: 1;
    cursor: pointer;
}


.footer{
    width: 100%;
    text-align: center;
    background-color: #222222;
    padding: 30px 0;
}
.footer h4{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}
.footer p{
    color: #777777;
}
.icons .fa{
    color: #f5b654;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #151515; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #f5b654;
  }
